<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>A-B</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>A-B_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>A-B_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=A-B,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read A-B_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>A-C</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>A-C_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>A-C_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=A-C,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read A-C_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B-C</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B-C_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B-C_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B-C,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B-C_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>D-E</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>D-E_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>D-E_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=D-E,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read D-E_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>D-F</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>D-F_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>D-F_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=D-F,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read D-F_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>E-F</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>5000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>E-F_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>E-F_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=E-F,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read E-F_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>A-B2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>A-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>A-B2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=A-B2,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read A-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B-B2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B-B2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B-B2,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>C-B2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>C-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>C-B2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=C-B2,WAY=RLCL,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read C-B2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>D-E2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>D-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>D-E2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=D-E2,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read D-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>E-E2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>E-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>E-E2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=E-E2,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read E-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>F-E2</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>8000</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>F-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>F-E2_TEST</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=F-E2,WAY=RRCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read F-E2_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2-E2_ACR_20</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B2-E2_ACR_20</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>CPD</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B2-E2_ACR_20</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B2-E2,WAY=RLCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B2-E2_ACR_20</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_ACR_20</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B4-E4_ACR_20</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>CPD</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B4-E4_ACR_20</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B4-E4,WAY=RLCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B4-E4_ACR_20</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_ACR_1000</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>1000</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B2-E2_1000</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>CPD</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B2-E2_ACR_1000</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B2-E2,WAY=RLCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B2-E2_ACR_1000</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_ACR_1000_Cfix</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>pF</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_ACR_1000_Cdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>pF</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_ACR_1000_Rdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>25</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_ACR_1000</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>1000</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B4-E4_1000</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>CPD</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B4-E4_ACR</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B4-E4,WAY=RLCR,OUT=LCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B4-E4_1000</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_ACR_1000_Cfix</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>pF</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_ACR_1000_Cdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>pF</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_ACR_1000_Rdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>MOhm</string>
			<key>Min</key>
			<string>25</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_DCR</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>10</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B2-E2_DCR</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>DCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B2-E2_DCR</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B2-E2,WAY=RLCR,OUT=DMM</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>100</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B2-E2_DCR</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_DCR_Rfix</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B2_E2_DCR_Rdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>30</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>--</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>DCR</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SEL=B4-E4,WAY=RLCR,OUT=DMM</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>100</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR_Rfix</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR_Rdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>30</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>TEMP</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>degree</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>--</string>
					<key>TestDevice</key>
					<string>TempHimu</string>
					<key>TestCommand</key>
					<string>READ</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>HUMID</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>percent</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>--</string>
					<key>TestDevice</key>
					<string>HIMU</string>
					<key>TestCommand</key>
					<string>--</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
